<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A HTML document with an external CSS stylesheet">
    <title>css style sheet</title>
</head>

<body>
    
  .center {
        display: flex;
        justify-content: center;
        }
  h5 {
    font-size: 50px;
     }
  
  h3 {
     text-align: center;
     font-size: 40px;
     }

  .marg {
        width: 40%;
        margin: 0 auto;
        }

  .card-text {
	font-size: 20px;
	font-weight: 500;
	text-decoration: underline;
	     }

  footer {
        text-align: center;
         }

 .container {
	margin-top: 20px;
	margin: 0 auto;
 	 }

  .border {
         border-width: 20px;
	  }

  .color-border {
  	padding: 20px;
	border: 5px solid transparent;
	box-shadow: black
		}






